# Copy to .env.local and adjust

# Database
DATABASE_URL="postgresql://user:password@localhost:5432/secretleaf_db"

# JWT - CHANGE IN PRODUCTION!
JWT_SECRET="dev-secret-key-must-be-at-least-24-chars-long"

# Server
HOST="0.0.0.0"
PORT="4000"
NODE_ENV="development"

# CORS
CORS_ORIGIN="http://localhost:3000"
